.answer {
    margin-top: 10%;
    cursor: pointer;
}
#basic {
    margin-top: 10%;
}
#basic-create {
    margin-top: 10%;
}
body {
    text-align: center;
}
#create {
    margin-left: 26%;
}
.confirm, .confirm2, .confirm3, .confirm4 {
    cursor: pointer;
}
input:focus{
    outline: none;
}
.method {
    float: left;
    margin-left: 15%;
    font-size: 36px;
    cursor: pointer;
}
#method-holder {
    margin-top: 250px;
}
.returns {
    cursor: pointer;
}
#save-random {
    margin-top: 3%;
}
#search-input, #search-input2, #search-input3, #search-input4 {
    background-color: transparent;
    border: none;
    width: 93%;
    letter-spacing: 6px;
    display:inline-block;
    text-align: center;
}
#search {
    margin-top: 10%;
}
#welcome {
    color: black;
    font-size: 48px;
    font-family: 'Wire One', sans-serif;
    /*letter-spacing: 10px;*/
}


